<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #000141;">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="background-color: #000141;">
      <a class="navbar-brand brand-logo">
        <img src="assets\webcs.png" alt="logo" /> </a>
      <!-- <a class="navbar-brand brand-logo-mini" > -->
        <!-- <img src="src/images/webcs.png" alt="logo" /> </a> -->
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #000141;">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" >
        <span class="mdi mdi-menu"></span>
      </button>
      <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
        
      </ul>
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item dropdown d-none d-xl-inline-block">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Hello, Dudung!</span>
            <img class="img-xs rounded-circle" src="assets\faces\face28.png" alt="Profile image"> </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a style="cursor:pointer" class="dropdown-item" data-toggle="modal" data-target="#exampleModal-10"> Log Out </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>

<!-- MODAL -->
<div class="modal fade" id="exampleModal-10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-10" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-4">Log out</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure want to log out?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
      <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
</div>
