<div class="row">
    <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="group">
                    <h2 class="mb-0">Daily Task</h2>
                    <p class="text-gray">{{this.today}}</p>
                    <button class="btn btn-primary submit-btn" style="float: right; margin-top: -40px;">Create New
                        Task</button>
                    <br>
                </div>
                <br>
                <div class="form-group">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true" (click)="allTask()">All
                                Task</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                role="tab" aria-controls="nav-profile" aria-selected="false" (click)="inprogress()">In
                                Progress</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                role="tab" aria-controls="nav-contact" aria-selected="false"
                                (click)="completed()">Completed</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row" *ngIf="allTaskForm=='true'">
            <div class="col-12 col-sm-12 col-md-3 grid-margin stretch-card"
                *ngFor="let task of jumlahTask; let i = index">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header" style="background-color: burlywood;">
                        <b>{{listPid[i]}}</b> &nbsp;&nbsp;&nbsp; {{jumlahTask[i]}}
                        <i class="mdi mdi-clock" style="float: right;"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <h5 class="card-title">Working Hours </h5>
                            </div>
                            <div class="col-sm-1">
                                <h5 class="card-title">:</h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="card-title">12 jam</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h5 class="card-title">Create Date </h5>
                            </div>
                            <div class="col-sm-1">
                                <h5 class="card-title">:</h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="card-title">09 Oktober 2020</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="card-title">Change Request LGD (IFRS9 BKE) </h5>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary" style="float: right;">view details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="progressForm=='true'">
            <div class="col-12 col-sm-12 col-md-3 grid-margin stretch-card"
                *ngFor="let task of jumlahTask; let i = index">
                <div class="card">
                    <div class="card-header" style="background-color: rgba(226, 255, 94, 0.919);">
                        <b>{{listPid[i]}}</b> &nbsp;&nbsp;&nbsp; {{jumlahTask[i]}}
                        <i class="mdi mdi-timer-sand" style="float: right;"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <h5 class="card-title">Working Hours </h5>
                            </div>
                            <div class="col-sm-1">
                                <h5 class="card-title">:</h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="card-title">12 jam</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h5 class="card-title">Create Date </h5>
                            </div>
                            <div class="col-sm-1">
                                <h5 class="card-title">:</h5>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="card-title">09 Oktober 2020</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="card-title">Change Request LGD (IFRS9 BKE) </h5>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary" style="float: right;">view details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="doneForm=='true'">
            <div class="col-12 col-sm-12 col-md-3 grid-margin stretch-card"
                *ngFor="let task of jumlahTask ; let i = index">
                <div class="card" style="border-radius: 10px;">
                    <div class="card">
                        <div class="card-header" style="background-color: rgb(5, 238, 5)">
                            <b>{{listPid[i]}}</b> &nbsp;&nbsp;&nbsp; {{jumlahTask[i]}}
                            <i class="mdi mdi-checkbox-marked-circle-outline" style="float: right;"></i>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h5 class="card-title">Working Hours </h5>
                                </div>
                                <div class="col-sm-1">
                                    <h5 class="card-title">:</h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="card-title">12 jam</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h5 class="card-title">Create Date </h5>
                                </div>
                                <div class="col-sm-1">
                                    <h5 class="card-title">:</h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="card-title">09 Oktober 2020</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="card-title">Change Request LGD (IFRS9 BKE) </h5>
                                </div>

                            </div>
                            <a href="#" class="btn btn-primary" style="float: right;">view details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>