<div class="row">
    <div class="col-md-10 col-lg-3 B">

    </div>
    <div class="col-md-10 col-lg-3 B">
        <span><h2  style="margin-top: 50%; margin-left: 10%;">Lorem ipsum dolor sit</h2></span>
        <span><h2  style="margin-left: 10%;">amet, consectetur</h2></span>
        <span><h2  style="margin-left: 10%;">adipiscing elit. Nulla</h2></span>
        <span><h2  style="margin-left: 10%;">quam <b>APP NAME</b></h2></span>
    </div>
    <div class="col-md-10 col-lg-1 B">

    </div>
    <div class="col-md-10 col-lg-4 B">
        <div class="card" style="margin-top: 20%; margin-bottom: 20%; border-radius: 10px;">
            <div class="card-body">
                <div class="auto-form-wrapper align-items-center justify-content-center flex-column">
                    <img src="assets\macan.png" alt="Italian Trulli" style="width: 25%;">
                    <h4 class="mr-auto" style="text-align: center;">Log in to E.A.T.S </h4>
                    <br>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="mdi mdi-account-outline"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <!-- <p style="color: #ed4a4a; font-size: 12px">
                                    Username required</p> -->
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="mdi mdi-lock-outline"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Kata Sandi">
                        </div>
                        <!-- <p style="color: #ed4a4a; font-size: 12px">
                                    Password required</p> -->
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary submit-btn" style="width: 100%;" (click)="login()">LOGIN</button>
                    </div>
                    <label>
                        <input type="checkbox" name="remember"> Remember me
                    </label>
                    <br>
                    <br>
                    <div class="form-group">
                        <span class="psw">Lupa <a href="#">kata sandi?</a> . <a href="#">Buat akun E.A.T.S</a></span>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-lg-1 B">

    </div>
</div>