<nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top:60px; background-color: white;">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link" >
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets\faces\face28.png" style="width: 200%;" alt="profile image"> </div>
        </div>
        <div class="text-wrapper" >
          <p class="profile-name" style="text-align: center;">Dudung Soetomo</p>
          <p class="profile-name" style="text-align: center;">Staff MLPT</p>
        </div>
      </div>
      <hr>
    </li>

    <div class="row">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-clipboard-text" routerLink='/dailytask'>
          <span style="margin-left: 20px; font-style: normal; font-size: 16px;color: black;" 
            class="menu-title">Daily Task</span>
          </i>
        </a>
      </li>
    </div>
    <div class="row">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-clipboard-outline" routerLink='/weeklytask'>
          <span style="margin-left: 20px; font-style: normal; font-size: 16px; color: black;" 
            class="menu-title">Weekly Task</span>
          </i>
        </a>
      </li>
    </div>
  </ul>
</nav>