<!-- <router-outlet name="login"></router-outlet> -->

<div *ngIf="router.url ==='/';else other_content">
    <router-outlet name="login"></router-outlet>
</div>
    
    <ng-template #other_content>
       <div class="container-scroller">
        <!-- header -->
        <router-outlet name="header"></router-outlet>  
          
          <div class="container-fluid page-body-wrapper">
             <!-- Navbarside  -->
            <router-outlet name="navbarside" ></router-outlet>    
                <div class="main-panel">
                <br><br>
                   <div class="content-wrapper">

                        <!-- other page -->
                         <router-outlet></router-outlet>
                   </div>

                   <!-- Footer -->
                   <router-outlet name="footer"></router-outlet>
                </div>   
          </div>
       </div>
    </ng-template>
    
    
    
    